{% extends 'base.html' %}

{% block title_head %}
<title>Paletas</title>
{% endblock title_head %}


{%block h1_heder%}
<h1>Listado de Paletas</h1>
{% endblock h1_heder %}

{% block contenido %}

<a href={%url 'inicio:crear_paleta'%}>Crear Nueva </a>

{% if object_list  %}
<ul>
    {% for paleta in object_list  %}
     <li><a href={%url 'inicio:detalle_paleta' paleta.id%}>{{paleta}}</a> </li>
     <a href={%url 'inicio:modificar_paleta' paleta.id%}>Modificar</a> . <a href={%url 'inicio:eliminar_paleta' paleta.id%}>Elimniar</a>
     
    {% endfor %}
   
</ul>

{% else %}

<h3>No se encontraron datos relacionados.</h3>
{% endif %}

{% endblock contenido %}

